@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title-wrap bar-warning">
                <div class="card-title">تماس با ما</div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>آدرس: تهران، خیابان جمهوری تقاطع حافظ پاساژ علاءالدین ط 3 پلاک  </a></span>
                                <span class="line-height-2 display-block overflow-hidden"></span>
                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-briefcase font-small-3"></i> ایمیل پشتیبانی: support@contact.com</a></span>
                                <span class="line-height-2 display-block overflow-hidden"> </span>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="">
                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>تلفن تماس: 021987654321</a></span>
                                <span class="line-height-2 display-block overflow-hidden"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=alaadin mobile market tehran&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanox.io/">Gacha Nox</a></div><style>
                                                                                                                                                                                                                                                                                                                                                                   .mapouter {
                                                                                                                                                                                                                                                                                                                                                                       position: relative;
                                                                                                                                                                                                                                                                                                                                                                       text-align: right;
                                                                                                                                                                                                                                                                                                                                                                       width: 600px;
                                                                                                                                                                                                                                                                                                                                                                       height: 400px;
                                                                                                                                                                                                                                                                                                                                                                   }

                                                                                                                                                                                                                                                                                                                                                                   .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                       overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                       background: none !important;
                                                                                                                                                                                                                                                                                                                                                                       width: 600px;
                                                                                                                                                                                                                                                                                                                                                                       height: 400px;
                                                                                                                                                                                                                                                                                                                                                                   }

                                                                                                                                                                                                                                                                                                                                                                   .gmap_iframe {
                                                                                                                                                                                                                                                                                                                                                                       width: 600px !important;
                                                                                                                                                                                                                                                                                                                                                                       height: 400px !important;
                                                                                                                                                                                                                                                                                                                                                                   }</style>
        </div>
        <br />
    </div>
</div>
