@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title-wrap bar-warning">
                <div class="card-title">رویه ثبت و ارسال سفارشات</div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="mb-2">
                             
                                <span class="primary text-bold-500">
                                    <a>
                                        <i class="ft-home font-small-3"></i> چطور میتوانم سفارشم را پیگیری کنم ؟
                                        <br />
                                        وارد سایت سانیار مارکت شوید. روی گزینه سفارش های من کلیک کنید. در این قسمت میتوانیدروند آماده سازی و مراحل ارسال سفارش خود را مشاهده کنید.
                                    </a>
                                </span>
                                <span class="line-height-2 display-block overflow-hidden"></span>
                                <span class="text-danger text-bold-500">
                                    <a>
                                        <br />
                                        <br />
                                        <i class="ft-home font-small-3"></i>
                                        چطور میتوانم سفارشم را لغو کنم ؟
                                        <br />
                                      شما میتوانید با مراجعه به پروفایل خود سفارشی که از ارسال آن منصرف شدید و وضعیت آن به تحویل داده شده تغییر نکرده است را لغو نمایید. به این منظور میتوانید با پشتیبانی تماس حاصل فرمایید. 
                                    </a>
                                </span>

                            </li>
                            <li class="mb-2">
                                <span class="primary text-bold-500"><a><i class="ft-briefcase font-small-3"></i> ایمیل پشتیبانی: support@contact.com</a></span>
                                <br />

                                <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>تلفن تماس: 021987654321</a></span>

                                <span class="line-height-2 display-block overflow-hidden"> </span>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ul class="no-list-style">
                            <li class="">
                                <span class="line-height-2 display-block overflow-hidden"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
</div>
