@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title-wrap bar-warning">
                <div class="card-title">شرایط مرجوع نمودن کالا</div>
            </div>
        </div>
        <img src="https://dkstatics-public.digikala.com/digikala-reviews/101469189.jpg?x-oss-process=image/format,webp" class="d-block w-100" alt="...">
        <img src="https://dkstatics-public.digikala.com/digikala-reviews/101469183.jpg?x-oss-process=image/format,webp" class="d-block w-100" alt="...">

    </div>
</div>
