@addTagHelper *, LazZiya.TagHelpers
@using Online_Store.Application.Services.Products.Queries.GetProductForSite;
@model ResultProductForSiteDto;
@{
    Layout = null;
    ViewData["Title"] = "AdvancedSearch";
    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["page"], out pageNumber);
    int.TryParse(Context.Request.Query["pageSize"], out pageSize);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <link rel="apple-touch-icon" sizes="60x60" href="~/AdminTemplate/app-assets/img/ico/apple-icon-60.html">
    <link rel="apple-touch-icon" sizes="76x76" href="~/AdminTemplate/app-assets/img/ico/apple-icon-76.html">
    <link rel="apple-touch-icon" sizes="120x120" href="~/AdminTemplate/app-assets/img/ico/apple-icon-120.html">
    <link rel="apple-touch-icon" sizes="152x152" href="~/AdminTemplate/app-assets/img/ico/apple-icon-152.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/convex-bootstrap-admin-dashboard-template/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/AdminTemplate/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminTemplate/app-assets/css/app.css">
</head>
<body>
    <div class="wrapper">
        <div class="app-sidebar ">
            <div class="sidebar-content">
                <section class="basic-elements">
                    <form asp-action="AdvancedSearch" asp-controller="Products" class="form-search" method="get">

                        <div class="col-md-20">
                            <div class="col-md-12">
                                <div class="card">

                                    <div class="card-body">
                                        <div class="px-3">
                                            <div class="form">
                                                <div class="form-body">
                                                    <br />
                                                    <a href="/" class="">
                                                        <i class="btn fa fa-home"> /</i>
                                                    </a>
                                                    <div class="col">
                                                        <div class="col-xl-12 col-lg-6 col-md-12 mb-1">
                                                            <p class="">سرچ پیشرفته </p>

                                                            <fieldset class="form-group">
                                                                <label for="basicInput">نام محصول </label>
                                                                <input type="text" class="form-control" name="SearchKey" id="Name">
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-xl-12 col-lg-6 col-md-12 mb-1">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput"> برند </label>
                                                                <input type="text" name="Brand" class="form-control" id="Brand">
                                                            </fieldset>
                                                        </div>

                                                        <div class="col-xl-12 col-lg-6 col-md-12 mb-1">
                                                            <fieldset class="form-group">
                                                                <label for="basicInput">دسته بندی </label>
                                                                <div class="custom-select-ui">

                                                                    <select class="form-control" name="CatId" id="CatId" asp-items="@ViewBag.Categories">
                                                                        <option>همه دسته ها</option>
                                                                    </select>
                                                                </div>
                                                            </fieldset>
                                                        </div>


                                                        <!--Price Range -------------------------------->
                                                        <div class="col-xl-12 col-lg-6 col-md-12 mb-1">
                                                           <label>
                                                                جستجوی قیمت:
                                                            </label>
                                                            <input type="radio" name="SearchByPrice" onclick="showhide()">
                                                                 <label for="price"> بله </label>
                                                            <input type="radio" name="SearchByPrice" onclick="hide()">
                                                                 <label for="price"> خیر </label>
                                                            
                                                            <fieldset class="form-group hide" id="priceSearch">
                                                              
                                                                <label for="basicInput"> بازه قیمت کالا </label>
                                                                <br />

                                                                <input type="range" min=@ViewBag.ProductsMinPrice max=@ViewBag.ProductsMaxPrice value=@ViewBag.ProductsMinPrice name="MinPrice" class="slider_min" id="Range_min">
                                                                <br />

                                                                <label> حداقل قیمت: <span id="min_price"></span></label>                                                                
                                                                <br />

                                                                <input type="range" min=@ViewBag.ProductsMinPrice max=@ViewBag.ProductsMaxPrice value=@ViewBag.ProductsMaxPrice name="MaxPrice" class="slider_max" id="Range_max">
                                                                <br />
                                                                <label> حداکثر قیمت: <span id="max_price"></span></label>
                                                               
                                                                @*<input type="text" class="form-control col-xl-4" id="min_price1">
                                                                <input type="text" class="form-control col-xl-4" id="min_price2">*@
                                                            </fieldset>
                                                        </div>
                                                        <button class="btn btn-info col-xl-12" type="submit"> جستجو </button>
                                                        <br />
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <div class="main-panel">
            <div class="main-content">
                <div class="col-lg-12 col-md-12 col-xs-12 pl">
                    <div class="shop-archive-content mt-3 d-block">
                        <div class="archive-header">
                            <h2 class="archive-header-title">آرشیو محصولات</h2>
                            <div class="sort-tabs mt-0 d-inline-block pr">
                                <h4>مرتب&zwnj;سازی بر اساس :</h4>
                            </div>
                            <div class="nav-sort-tabs-res">
                                <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        @*nav-link active*@
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=MostVisited" role="tab" aria-controls="Most-visited" aria-selected="true">پربازدیدترین</a>
                                    </li>
                                    <li class="nav-item">
                                        @*
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=Bestselling" role="tab" aria-controls="Bestselling" aria-selected="false">پرفروش&zwnj;ترین&zwnj;</a>
                                        *@
                                    </li>
                                    <li class="nav-item">
                                        @*
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=Most-Popular" role="tab" aria-controls="Most-Popular" aria-selected="false">محبوب&zwnj;ترین</a>
                                        *@
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=newest" role="tab" aria-controls="newest" aria-selected="false">جدیدترین</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=cheapest" role="tab" aria-controls="cheapest" aria-selected="false">ارزان&zwnj;ترین</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/products/advancedsearch?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=theMostExpensive" role="tab" aria-controls="most-expensive" aria-selected="false">گران&zwnj;ترین</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-items row">
                            <div class="tab-content" id="myTabContent">



                                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                                    <div class="row">
                                        @foreach (var item in Model.Products)
                                        {


                                            <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                                <section class="product-box product product-type-simple">
                                                    <div class="thumb">
                                                        <a href="~/products/detail/@item.Id" class="d-block">

                                                            <div class="product-rate">

                                                                @for (int i = 1; i <= item.Star; i++)
                                                                {
                                                                    <i class="fa fa-star active"></i>
                                                                }
                                                                @for (int i = 1; i <= (5 - item.Star); i++)
                                                                {
                                                                    <i class="fa fa-star"></i>
                                                                }
                                                            </div>
                                                            <img width="400" height="300" src="~/@item.ImageSrc">
                                                        </a>
                                                    </div>
                                                    <div class="title">
                                                        <a href="~/products/detail/@item.Id">  @item.Title</a>
                                                    </div>
                                                    <div class="price">
                                                        <span class="amount">
                                                            @item.Price.ToString("n0")
                                                            <span>تومان</span>
                                                        </span>
                                                    </div>
                                                </section>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="pagination-product">
                                    <nav aria-label="Page navigation example">
                                        <paging total-records="@Model.TotalRow"
                                                page-no="@pageNumber==0?1:pageNumber"
                                                page-size="@pageSize==0?20:pageNumber"
                                                show-prev-next="true"
                                                show-total-pages="false"
                                                show-total-records="false"
                                                show-page-size-nav="true"
                                                show-first-numbered-page="true"
                                                show-last-numbered-page="true"
                                                query-string-key-page-no="Page"
                                                query-string-key-page-size="PageSize"
                                                query-string-value="@@(Request.QueryString.Value)"
                                                gap-size="2">
                                        </paging>

                                    </nav>
                                </div>
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>


<style>
    <!-- header-------------------------------- >

    .slidecontainer {
        width: 100%;
    }

    .slider_min {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider_min:hover {
            opacity: 1;
        }

        .slider_min::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #1ac8db;
            border-bottom: 13px solid transparent;
        }

        .slider_min::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #1ac8db;
            cursor: pointer;
        }


    .slider_max {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider_max:hover {
            opacity: 1;
        }

        .slider_max::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-left: 26px solid #1ac8db;
            border-bottom: 13px solid transparent;
        }

        .slider_max::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #1ac8db;
            cursor: pointer;
        }
        .hide{
            display:none;
        }
</style>


<script>
    //if (document.getElementById("SearchByPrice")){
    var slider_min = document.getElementById("Range_min");
    var output_min = document.getElementById("min_price");
    output_min.innerHTML = parseInt(slider_min.value).toLocaleString();
    slider_min.oninput = function () {
        output_min.innerHTML = parseInt(this.value).toLocaleString();
    }
    
    var slider_max = document.getElementById("Range_max");
    var output_max = document.getElementById("max_price");
    output_max.innerHTML = parseInt(slider_max.value).toLocaleString();;
    slider_max.oninput = function () {
        output_max.innerHTML = parseInt(this.value).toLocaleString();;
    }

    function showhide(){
        var priceSearch = document.getElementById('priceSearch');
            priceSearch.classList.remove('hide');
    }

    function hide() {
        var priceSearch = document.getElementById('priceSearch');
        priceSearch.classList.add('hide');
    }
</script>