@{
    ViewData["Title"] = "";
}
@*<h5>عملیات پرداخت موفقیت آمیز نبود!</h5>*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 HTML Tempalte by Colorlib</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/404/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            @*<h2>404 - Page not found</h2>*@
            <p>این کالا موجود نیست!</p>
            <a href="/">بازگشت به صفحه اصلی</a>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-warning">
                    <div class="card-title">تماس با ما</div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <ul class="no-list-style">
                                <li class="mb-2">
                                    @*<span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>آدرس: تهران، میرداماد، نبش کوچه سوم، پلاک 41،واحد 3 </a></span>*@
                                    <span class="line-height-2 display-block overflow-hidden"></span>
                                </li>
                                <li class="mb-2">
                                    <span class="primary text-bold-500"><a><i class="ft-briefcase font-small-3"></i> ایمیل پشتیبانی: support@contact.com</a></span>
                                    <span class="line-height-2 display-block overflow-hidden"> </span>
                                </li>
                            </ul>
                        </div>
                        <br />
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <ul class="no-list-style">
                                <li class="">
                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i>تلفن تماس: 021987654321</a></span>
                                    <span class="line-height-2 display-block overflow-hidden"></span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
